# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio Code
.vscode/

# DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# libman (if using)
wwwroot/lib/

# Rider
.idea/
*.iml

# dotenv
.env
